.header {
  grid-area: h;
  background-color: #0f1b38;
}
.header img {
  width: 40px;
  height: 40px;
  border-radius: 30px;
}

.loginBlock {
  float: right;
}

.loginBlock a {
  color: wheat;
}

.login {
  color: wheat;
}

.logoutBtn {
  color: antiquewhite;
  background-color: #0f1b38;
  border: none;
  outline: none;
}

.logoutBtn:hover {
  cursor: pointer;
  background: rgb(201, 201, 201); /* Цвет фона под ссылкой */
  color: #0f1b38; /* Цвет ссылки */
}
