.header {
  grid-area: h;
  background-color: #0f1b38;
}
.header img {
  width: 40px;
  height: 40px;
  border-radius: 30px;
}

.loginBlock {
  float: right;
}

.loginBlock a {
  color: wheat;
}

.login {
  color: wheat;
}
