.app-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  width: 90%;

  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 10fr;
  grid-gap: 3px;
}

.app-wrapper-content {
  padding: 15px;
  grid-area: c;
  background-color: rgb(201, 201, 201);
}
